NEXT_PUBLIC_SUPABASE_URL=https://lxsqeubyadjhyhlvybto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx4c3FldWJ5YWRqaHlobHZ5YnRvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2Mjc2NzEsImV4cCI6MjA3MzIwMzY3MX0.foFXvEQYkP4UstpDlB-uDBZBI7q2Ee3j4R9inuiDHbg